<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zavordigital.la_huerta"
    android:versionCode="6"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
   <permission
        android:name="com.zavordigital.la_huerta.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    
     <uses-permission android:name="com.zavordigital.la_huerta.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />	
	<uses-permission android:name="android.permission.INTERNET" />
	 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
       android:theme="@android:style/Theme.Black.NoTitleBar" >
       
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver"
         android:permission="com.google.android.c2dm.permission.SEND" >
         <intent-filter>
             <action android:name="com.google.android.c2dm.intent.RECEIVE" />
             <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
             <category android:name="com.zavordigital.la_huerta" />
         </intent-filter>
     </receiver>

        <service android:name=".GCMIntentService" />
        
        
        
        <activity
            android:name="com.zavordigital.la_huerta.footer"
           android:label="@string/app_name"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity android:name="MainActivity" />
         <activity android:name="buscar" />
          <activity android:name="recetas" />
          <activity android:name="sitios" />
          <activity android:name="instrucciones" />
          <activity android:name="recetas_single" android:configChanges="orientation|screenSize|keyboardHidden"  />
          <activity android:name="paso_paso" />
          <activity android:name="ingredientes" />
          <activity android:name="comentarios" />
          <activity android:name="single_instruccion" />
          <activity android:name="BaseDialogListener" />
          <activity android:name="favoritas" />
          <activity android:name="lista_super" />
          <activity android:name="video_youtube"  android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>
</manifest>